<%- include ('./partials/head.ejs') %>

<body>
    <%- include ('./partials/nav.ejs') %>
    <h1>MYSHOWS</h1>
    <section id="myshow">
        <% FavItem.forEach(element => { %>
        <article class="myshow">
            <img src="https://image.tmdb.org/t/p/w500<%= element.poster_path %> " alt="">
            <h5><%= element.title %> </h5>
            <p><%= element.overview %> </p>
            <a href="/FavouriteItem/<%= element._id %>">See More</a>
        </article>
        <% }) %>
    </section>
</body>

</html>